/* Header font */
@import url(http://fonts.googleapis.com/css?family=PT+Sans);
/* Text font */
@import url(http://fonts.googleapis.com/css?family=Raleway);

* {
	font-family: 'Raleway', sans-serif;
}

/* Barra de navegación */

.navbar {
	padding: 2em 0em;
}

.navbar-brand {
	font-size: 2em;
	font-family: 'PT Sans', sans-serif;
	font-style: italic;
	font-weight: bold;
}

.navbar-text.welcome-text {
	 color: #c7c7c7;
}

/* Sticky Footer  */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #2f2f2f;
}

.container .text-muted {
  margin: 20px 0;
}